* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/* 위의 코드설명
*별표는 all이라는 의미로 모든 태그를 선택합니다
 margin: 0px; padding: 0px;을 쓰는 이유는
 모든 태그마다 기본적으로 가지고있는 마진,패딩이 존재하는데
 이것을 그대로 두면 개발자가 적용한 마진, 패딩에 덮어써져서
 정확한 내용이 되지않으므로 리셋하는 내용입니다
  */
